body {
  font-family: 'Righteous', cursive;
  letter-spacing: 5px;

}
#nav {
  background: hsla(159, 40%, 70%, 0.20);
}

.at-navbar-brand {
  color: hsla(0, 0%, 22%, 1);
}
.logo {
  border-radius: 20px;
  margin: 20px;
  font-size: 2em;
  background-color: hsla(159, 40%, 70%, 0.40);
  padding: 20px;
  text-align: center;
}

.form-control, #inputFile {
  padding: 5px;
  margin: 10px;
  background-color: hsla(18, 89%, 96%, 0.55)
}

label {
  color: hsla(0, 0%, 22%, 1);
}

 #submitBttn {
   background: hsla(159, 40%, 70%, 0.9);
   margin: 10px;
 }

p {
  display: none;
  background: hsla(159, 40%, 70%, 0.61);
  padding: 10px;
  width: 300px;
}

.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./jumbopic.jpg");
  padding-top: 15px;
  margin-bottom: 0px;
  height: 100vh;
}


#chartArea {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./chartImage50.png");
  height: 100vh;
}

#personalityChart {

}
