body {
  font-family: 'Righteous', cursive;
  letter-spacing: 5px;
}
#nav {
  background: hsla(159, 40%, 70%, 0.61);
}
.logo {
  margin: 30px;
  font-size: 2em;
  background-color: hsla(159, 40%, 70%, 0.61);
  padding: 20px;
  text-align: center;
}

.form-control, #inputFile {
  padding: 5px;
  margin: 10px;
}

 #submitBttn {
   background: hsla(218, 90%, 62%, 1);
   margin: 10px;
 }

p {
  display: none;
  background: hsla(159, 40%, 70%, 0.61);
  padding: 10px;
  width: 300px;
}
