body {
  font-family: 'Righteous', cursive;
  letter-spacing: 5px;
  position: relative;

}
#nav {
  background: hsla(159, 40%, 70%, 0.20);
}

.at-navbar-brand {
  color: hsla(0, 0%, 22%, 1);
}
.logo {
  border-radius: 20px;
  margin: 10px;
  font-size: 2em;
  background-color: hsla(159, 40%, 70%, 0.40);
  text-align: center;
  padding: 20px;
}

.form-control, #inputFile, .drop-down {
  padding: 5px;
  margin: 10px;
  background-color: hsla(18, 89%, 96%, 0.55);
}
.drop-down {
  height: 40px;
  padding: 5px;
}

label {
  color: hsla(16, 80%, 70%, 1);
}

 #submitBttn {
   background: hsla(159, 40%, 70%, 0.9);
   padding-left: 20px;
 }

 .scrollToChart {
   padding: 5px;

 }

p {
  display: none;
  background: hsla(159, 40%, 70%, 0.61);
  padding: 20px;
}

.chartText, p {
  margin-top: 15px;
  text-align: center;
}
.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./jumbopic.jpg");
  padding-top: 15px;
  margin-bottom: 0px;
  height: 100vh;
}


#chartArea {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./chartImage50.png");
  height: 100vh;
}

#footer {
  bottom: 0;
  width: 100%;
  height: 120px;
  padding-top: 20px;
  background:
    linear-gradient(
      hsla(159, 40%, 70%, 0.40),
      hsla(0, 0%, 0%, 0.45)
    )
}

i {
  margin-right: 20px;
  color: hsla(0, 0%, 22%, 1)
}
i:hover {
  color: hsla(157, 100%, 50%, 1)
}
